@media only screen and (max-width: 815px) {

.intro-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // border: 2px solid black;

  .image-header {
    display: flex;
    background-size: cover;
    // border: 2px solid black;

    .image1 {
      width: 50.2%;
      height: auto;
      object-fit: cover;
    }

    .image2 {
      width: 50.2%;
      height: auto;
      object-fit: cover;
    }

    
  }
  .middle-block {
    position: relative;
    
    top: -40px;
  }    
  
  .middle-block h1 {
        // border: 2px solid black;
        height: 50px;
        width: 300px;
        font-size: 30px;
        margin: 0;
      }
       
  .lower-half {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: -28px;
    // box-shadow: ;

    p {
      // display: flex;
      // justify-content: center;
      width: 70%;
    }

    h4 {
      width: 50%;
      text-decoration: underline;
      color: rgb(226, 135, 62)
    }
  }
}



.spotlight {
  // border: 2px solid black;
  box-shadow: 0px -10px 60px rgb(230, 230, 230);
  // border: 2px solid black;
  height: 400px;
  // display: flex;

  .on {
    color:  #731763;
    margin-left: 50px;
  }


  .below-spotlight {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
    //  border: 2px solid black;
     height: 350px;


    .img-spotlight {
      width: 130px;
      height: 130px;
      margin-left: -40px;
      border-radius: 50%;
      border: 4px solid white;
      box-shadow: 0px -10px 20px rgb(150, 150, 150);
      box-shadow: 0px 10px 20px rgb(150, 150, 150);
      object-fit: cover;
    } 

    .chef-page-info {
      width: 50%;
      margin-left: 50px;
    }

    p {
      text-align: center;
    }

    .view-profile {
      background-color: rgb(226, 135, 62);
      width: 220px;
      border-radius: 2px;
    }
  }
}

.Chef-List {
  // border: 2px solid black;
  // box-shadow: 0px -10px 60px rgb(230, 230, 230);
  // border: 2px solid black;
  border-bottom: 2px solid rgba(100, 100, 100, .9) ;
  height: 400px;
  // display: flex;

  .top-chef {
    margin-left: 200px;
    color:  #731763;
  }


  .general-chef-display {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
    //  border: 2px solid black;
     height: 350px;


    .profile-pic {
      // width: 15%;
      width: 130px;
      height: 130px;
      // margin-left: -160px;
      // background-size: cover;
      border-radius: 50%;
      border: 4px solid white;
      box-shadow: 0px -10px 20px rgb(150, 150, 150);
      box-shadow: 0px 10px 20px rgb(150, 150, 150);
      object-fit: cover;
    } 

    .chefs-page-info {
      width: 30%;
      margin-left: 25px;
    
      h1 {
      color: rgb(226, 135, 62);
      background-color: white;
      border: 2px solid rgb(226, 135, 62);
      width: 220px;
      border-radius: 2px;
    }
}


    // .known-for {
    //   margin-top: -100px;
    // }


  }

  p {
    margin-top: -140px;
    text-align: center;
  }
}

.chef-social-media{
  display: flex;
  justify-content: space-around;
  padding: 0px 10px;
}


        


}