.hompage {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 215px;
  background-image: url(../../assets/Rectangle.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.search-plan-inspire {
  height: 70%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.icon {
  height: 70%;
  width: 30%;
}

.top-chefs {
  display: flex;
  flex-direction: column;
  height: 250px;
  background-image: url(../../assets/chef-image-large.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: grey;
  justify-content: center;
  align-items: center;
}

.top-chefs button {
  background-color: #ef8325;
  outline: none;
  border: none;
  color: white;
  border-radius: 2px;
  width: 150px;
  height: 44px;
}

.images {
  height: 50%;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.chef {
  width: 30%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.chef-face {
  height: 50px;
  width: 50px;
  border: 2px solid #ffffff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1000px;
  margin-bottom: 5px;
}

.chef-name {
  height: 20%;
  width: 100%;
  color: black;
}

.chef-name h5 {
  margin: 0;
  padding: 0;
  font-size: 8px;
}

h1 {
  background-color: white;
  color: black;
}

.recipes {
  display: flex;
  width: 100%;
}

.recipes img {
  width: 180px;
  height: 117px;
}

.recipe {
  margin: 0 10px;
  font-size: 14px;
}

.social-media{
  display: flex;
  margin:0 auto;
  height: 75px;
  width: 50%;
  justify-content: space-around;
  align-items: center;
}
