.hompage {
  // height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  div {
    // height: 215px;
    // border: 1px solid black;

    // div {
    //   height:80px;
    //   width: 80px;
    // }
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 215px;
  background-image: url(../../assets/Rectangle.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.search-plan-inspire {
  height: 70%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  height: 70%;
  width: 30%;
}

.top-chefs {
  display: flex;
  flex-direction: column;
  height: 250px;
  background-image: url(../../assets/chef-image-large.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: grey;
  justify-content: center;
  align-items: center;
}

.top-chefs button {
  background-color: #ef8325;
  outline: none;
  border: none;
  color: white;
  border-radius: 2px;
  width: 150px;
  height: 44px;
}

.images {
  height: 50%;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
}

.chef {
  width: 30%;
  height: 90%;
  // border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.chef-face {
  height: 100%;
  width: 70%;
  border: 1px solid black;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1000px;
  margin-bottom: 5px;
}

.chef-name {
  height: 20%;
  width: 100%;
  // border: 1px solid black;
  color: black;
}

.chef-name h5 {
  margin: 0;
  padding: 0;
  font-size: 8px;
}

h1 {
  background-color: white;
  color: black;
}

.recipes {
  display: flex;
  width: 100%;
}

.recipes img {
  width: 180px;
  height: 117px;
}

.recipe {
  margin: 0 10px;
  font-size: 14px;
}

.community-carousel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 113px;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-left: 5px;
  padding-top: 5px;
  margin-left: 0;
}

.community-carousel img {
  top: 0px;
  left: 0px;
  object-fit: cover;
  width: 125px;
  height: 100px;
  margin: 0 7px;
}
