.nav {
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
  align-items: center;
  height: 101px;
  width: 100%;
  background-color: #731763;
  color: white;
}

a{
  text-decoration: none;
  color: white;
}

.nav-icon{
  margin: 0px 20px;
  height: 25px; 
  width: 25px;

}

.menu-toggle {
  display: block;
  position: relative;
  margin-left: 20px;

  z-index: 1;
}

.menu-toggle a {
  color: #232323;
  transition: color 0.3s ease;
}

.menu-toggle a:hover {
  color: red;
}

.menu-toggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: white;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

// .menu-toggle span:first-child
// {
//   transform-origin: 0% 0%;
// }

// .menu-toggle span:nth-last-child(2)
// {
//   transform-origin: 0% 100%;
// }

// .menu-toggle input:checked ~ span
// {
//   opacity: 1;
//   transform: rotate(45deg) translate(-2px, -1px);
//   background: #232323;
// }

// .menu-toggle input:checked ~ span:nth-last-child(3)
// {
//   opacity: 0;
//   transform: rotate(0deg) scale(0.2, 0.2);
// }

// .menu-toggle input:checked ~ span:nth-last-child(2)
// {
//   transform: rotate(-45deg) translate(0, -1px);
// }

// .menu
// {
//   position: absolute;
//   width: 300px;
//   margin: -100px 0 0 -50px;
//   padding: 50px;
//   padding-top: 125px;
  
//   background: #ededed;
//   list-style-type: none;
//   -webkit-font-smoothing: antialiased;
  
//   transform-origin: 0% 0%;
//   transform: translate(-100%, 0);
  
//   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
// }

// .menu li
// {
//   padding: 10px 0;
//   font-size: 22px;
// }

// .menu-toggle input:checked ~ ul
// {
//   transform: none;
// }
