.card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 113px;
  width: 124px;
  margin-right: 10.1px;
  margin-left: 5px;
}

.mealPhoto img {
  position: relative;
  top: 0px;
  left: 0px;
  padding: 0px;
  object-fit: cover;
  width: 113.1px;
  height: 73.5px;
}

.bookmark {
  position: relative;
  height: 16px;
  width: 12px;
  left: 85px;
  bottom: 15px;
  z-index: 1;
}

.recipeName {
  padding: none;
  width: 112px;
  height: 60px;
  position: relative;
  left: 0px;
  bottom: 20px;
  overflow: hidden;
  margin-bottom: none;
  z-index: 2;
}

.recipeName p {
  font-size: 14px;
  font-weight: 0;
  padding-left: 0;
  margin: 0;
  padding-top: 9px;
}

.card a {
  color: black;
  padding: 0px;
}

